body {
  margin: 0;
}

.dashboard-container {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) 4fr;
}

.sidebar {
  display: grid;
  grid-template-rows: repeat(3, minmax(min-content, 100px));
  grid-row: span 2;
  background-color: #2340f9;
  color: yellow;
  .logo {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
  }
  .main-menu ul,
  .support-menu ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    gap: 15px;
    padding: 0;
  }
}

.nav-container {
  display: grid;
  background-color: rgb(249, 249, 108);
  .bottom-nav {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
  }
  .top-nav {
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, 1fr));
  }
  .bottom-nav {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    grid-template-rows: repeat(2, minmax(100px, 1fr));
    h3 {
      grid-column: 2;
    }
    img {
      grid-row: span 2;
    }
  }
}
