body {
  margin: 0;
}

.dashboard-container {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) 4fr;
}

.sidebar {
  display: grid;
  grid-template-rows: repeat(3, minmax(min-content, 100px));
  grid-row: span 2;
  background-color: #1c94d4;
  color: white;
  .logo {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
  }
  .main-menu ul,
  .support-menu ul {
    display: grid;
    list-style-type: none;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    gap: 15px;
    padding: 0;
  }
}

.nav-container {
  display: grid;
  background-color: rgb(249, 249, 108);
  .top-nav {
    display: grid;
    grid-template-columns: repeat(5, minmax(min-content, 1fr));
  }
  .bottom-nav {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
  }
}

.content {
  display: grid;
  grid-template-columns: minmax(min-content, 2fr) 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.257);
  background-color: var(--custom-gray);
  .project-container {
    grid-row: span 2;
    .projects-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      gap: 10px;
      div {
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        border-left: 10px solid #fcbe02;
      }
    }
  }
  .announcements-container {
    .announcements-content {
      background-color: white;
      border-radius: 10px;
    }
  }
  .trending-container {
    grid-template-columns: minmax(min-content, 1fr);
    .trending-content {
      display: grid;
      grid-template-columns: repeat(2, minmax(min-content, 1fr));
      grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
      background-color: white;
      border-radius: 10px;
    }
  }
}
